html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'zabars';
}

@font-face {
  font-family: 'zabars';
  src: url('./fonts/zabars.ttf') format('truetype');
}

:root {
  --backgroundsnohover: #ff9500c2;
  --backgroundshover: #ff9500;
}

.game-location {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-image: url("img/5_background/game_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.start-button {
  width: 150px;
  height: 80px;
  border-radius: 50px;
  background-color: var(--backgroundsnohover);
  font-family: 'zabars';
  font-size: 24px;
}

.start-button:hover {
  cursor: pointer;
  background-color: var(--backgroundshover);
  transform: scale(120%);
}

.main-content {
  display: flex;
  flex-direction: column;
}
.start-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.start-screen-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
  height: 480px;
}

.bottom-button {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 350px;
}

.start-screen-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.start-screen-position {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.start-screen-position img {
  width: 722px;
  height: 480px;
  border: 5px solid black;
  border-radius: 20px;
}

.end-screen-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.end-screen-position {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 170px;
}

@keyframes popIn {
  0% {
    transform: scale(0.1); /* Start ganz klein */
  }
  70% {
    transform: scale(1.2); /* Schnell groß werden (leicht größer als Zielgröße) */
  }
  90% {
    transform: scale(0.95); /* Etwas kleiner zurückschwingen */
  }
  100% {
    transform: scale(0.75); /* Endgröße */
  }
}

.end-screen-position img {
  width: 422px;
  height: 350px;
  border-radius: 20px;
  z-index: 1;
  animation: popIn 0.8s cubic-bezier(.68,-0.55,.27,1.55) forwards;
}

.end-screen-background {
  position: absolute;
      width: 720px;
    height: 480px;
   border-radius: 15px;
  background-color: #f4a322;
 z-index: 0;
}

.end-screen-buttons {
  position: absolute;
  margin-top: 300px;
  z-index: 200;
}

.end-screen-buttons-positions {
  display: flex;
  gap: 40px;
}

@keyframes fadeInButton {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.end-screen-button {
  width: 140px;
  height: 70px;
  border-radius: 40px;
  background-color: var(--backgroundsnohover);
  font-family: 'zabars';
  font-size: 24px;
  opacity: 0; /* Start transparent */
  animation: fadeInButton 1.2s ease-in forwards; /* Dauer und Animation */
}

.end-screen-button:hover {
  cursor: pointer;
  background-color: var(--backgroundshover);
}

.top-buttons {
  display: flex;
  justify-content: end;
  width: 650px;
  gap: 20px;
}

.top-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  border-radius: 50px;
  background-color: var(--backgroundsnohover);
}

.top-button:hover {
  cursor: pointer;
  background-color: var(--backgroundshover);
  transform: scale(120%);
}

.top-button img {
  width: 45px;
  height: 45px;
}

.top-button h2 {
  font-size: 12px;
}

canvas {
  background-color: black;
  border-radius: 20px;
  display: block;
}

.canvas-location {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.game-background {
  height: 100%;
  width: 100%;
  z-index: 0;
}

.controls-in-game {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.controls-in-game-position {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.controls-in-game-style {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--backgroundsnohover);
  border-radius: 40px;
  border: 5px solid black;
  width: 600px;
  height: 200px;
  gap: 40px;
  margin-top: 630px;
}

.controls-in-game-style:hover {
  background-color: var(--backgroundshover);
}

.control-buttons {
  width: 80px;
  height: 80px;
}

.control-buttons:hover {
  transform: scale(120%);
}

.control-buttons-space {
  width: 120px;
  height: 80px;
}

.control-buttons-space:hover {
  transform: scale(120%);
}

.svg-bg {
  fill: white;
  border-radius: 20px;
}

.controls-in-game-stlye-description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.controls-in-game-stlye-description h2 {
  font-size: 20px;
}

.d-none {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.681);
}

.overlay-location {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

.overlay-info {
  width: 680px;
  height: 430px;
  background-color: #ff9500cb;
  border-radius: 30px;
  padding: 10px;
}

.overlay-content {
 padding-left: 20px;
}

.overlay-content h1 {
  font-size: 40px;
}

.overlay-header {
  font-size: 28px;
  font-weight: 800;
  font-style: italic;
  text-decoration: underline;
}
.overlay-layer {
  display: flex;

}

.overlay-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 30px;
  gap: 10px;
}

.overlay-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 50px;
  gap: 25px;
}

.story-text {
  font-size: 28px;
}

@media only screen and (max-width: 760px) {
  canvas {
    width: 100%;
  }
  .start-screen-position {
    width: 100%;
  }
}

@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
  }
   .start-screen-position {
   height: 100vh;
  }
}